/* .slideList {
	max-width: 202px;
	padding: 15px 15px 0 20px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 85vh;
} */

.slideList {
    max-width: 15vw; /* Ширина списка слайдов зависит от ширины окна */
    padding: 0 2vw 0 2vw; /* Отступы относительно размеров окна */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 85vh; /* Высота зависит от высоты окна */
}

.slideList::-webkit-scrollbar {
    width: 0.5vw; 
}

.slideList::-webkit-scrollbar-thumb {
    background-color: #d5dbe3;
    border-radius: 1vw;
}

.slide {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw; 
    margin-bottom: 2vh; 
    justify-content: space-between;
}

.slideContainer {
    position: relative;
    width: 12vw; 
    height: calc(12vw * 9 / 16);
    background-color: aqua;
    border-radius: 1.5vw; 
    border: 0.2vw solid #d5dbe3;
    transition: border-color 0.3s ease;
    overflow: hidden;
    user-select: none; 
    -webkit-user-drag: none;
}

.slideContainer:hover {
    border-color: black;
}

.selected {
    border-color: rgb(11, 87, 208);
}

.slideNumber {
    font-family: 'comfortaa';
    font-size: 1.2vw;
    font-weight: bold;
    user-select: none; 
}