header {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    font-family: 'comfortaa', sans-serif;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #ffffff;
}

header>*:first-child {
    width: 20vw;
}

.header>*:last-child {
    max-width: 30vw;
    min-width: 22vw;
}


.topPanel {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1vh;
    border-radius: 2vw;
    background-color: #edf2fa;
    height: 8vh;
    max-width: 38vw;
}

.topPanel>*:first-child {
    margin-left: 0.5vw;
}

.topPanel>*:last-child {
    margin-right: 1vw;
}

button {
    align-items: center;
    height: 5vh;
    padding: 0.5vw;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 0.5vw;
    font-size: calc(0.5vw + 0.5vw);
    font-weight: 1000;
    font-family: 'comfortaa', sans-serif;
}

button:hover {
    background-color: #d5dbe3;
}

.logo {
    width: 3vw;
    height: 3vw;
}

.line {
    width: 0.1vw;
    height: 3vh;
    background-color: #d5dbe3;
}

.presentationName {
    font-size: 2vh;
    background-color: transparent;
    border: 0;
    text-align: center;
    min-width: 5vw;
}

.iconName {
    width: 2vw;
    height: 2vw;
}