.workspace {
	overflow: auto;
}

.workspaceContainer {
	margin: 20px;
	width: 1065px;
	height: 599px;
	background-color: white;
	border: 1px solid #d5dbe3;
	position: relative;
	overflow: hidden;
}

.workspaceContainer::-webkit-scrollbar-track{
	background-color: white;
}

.element {
	word-wrap: break-word;
	border: 2px solid;
	border-color: transparent;
}

.selected {
	border-color: rgb(11, 87, 208);
	border-radius: 5px;
}

.top-left {
	cursor: nwse-resize;
}

.top-right {
	cursor: nesw-resize;
}

.bottom-left {
	cursor: nesw-resize;
}

.bottom-right {
	cursor: nwse-resize;
}

.center-top {
	cursor: ns-resize;
}

.center-bottom {
	cursor: ns-resize;
}

.center-left {
	cursor: ew-resize;
}

.center-right {
	cursor: ew-resize;
}